<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!--Import Google Icon Font-->
        <link
          href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet"
        />
        <!-- Compiled and minified CSS -->
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        />
        <!--Title of project-->
        <title>Book Reviews</title>
        <link rel="stylesheet" href="./style.css" />
      </head>

      <nav>
        <div class="nav-wrapper black darken-4">
          <a class="center brand-logo">Book Reviews</a>
          <ul class="right hide-on-med-and-down">
            <a id="button1" class="btn-floating btn-large waves-effect waves-light red darken-4"><i class="material-icons">home</i></a>
            
          </ul>
        </div>
      </nav>

    <body>

        <main class="form-signin text-center">
            <form id="login-form">
              <h1 class="h3 mb-3 fw-normal">Login</h1>
          
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="username-login" placeholder="Username" autofocus="true">
                <label for="username-login">Username</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password-login" placeholder="Password" autofocus="true">
                <label for="password-login">Password</label>
              </div>
          
              <button class="w-100 btn btn-lg btn-info mb-3" type="submit">Sign in</button>
              <a class="login-link" href="/signup">Sign up</a>
            </form>
          </main>

      </footer>
      <!--JavaScript at end of body for optimized loading-->
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="assets/js/login.js"></script>
      <script src="./index.js"></script>
    </body>
  </html>
        
        <!-- Jacob - updated login/logout--> 